body {
    font-family: 'Roboto';
    height: 100vh;
}

body ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

header {
    z-index: 9;
    position: relative;
    font-weight: 300;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); */
}

header .header-top {
    background: #fff;
    font-family: 'Roboto';
    padding: 10px 0;
    display: block;
}

header .header-top ul li {
    display: inline-flex;
}

header .header-top ul li a {
    color: #333;
    font-size: 15px;
}

header .header-top ul li a:hover {
    color: #ff8606;
}

header .header-top .left {
    height: 100%;
}

header .header-top .left ul {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

header .header-top .left ul li span {
    color: #333;
    padding: 0 5px;
}

header .header-top .left ul li .icon {
    height: 20px;
    width: 20px;
    text-align: center;
    background: #e4e4e4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-top .left ul li .icon a {
    font-size: 13px;
}

header .header-top .left ul li .icon i {
    /*font-size: 10px;*/
}

header .header-top .left ul li .fb {
    margin: 0 10px;
}

header .header-top .left ul li .fb i {
    color: blue;
}

header .header-top .left ul li .yt i {
    color: red;
}

header .header-top .right {
    float: right;
}

header .header-top .right ul {
    height: 40px;
}

header .header-top .right ul li {
    /*padding: 0 15px;*/
    align-items: center;
    justify-content: center;
    height: 100%;
    /*border-right: 1px solid #e4e4e4;*/
}

header .header-top .right ul li:last-child a {
    border: none;
}

header .header-top .right ul li a {
    padding: 0 15px;
    border-right: 0px !important;
}

header .header-top .right ul li i {
    padding-right: 5px;
    font-size: 10px;
    margin-left: 5px;
}

header .header-top .right ul li select {
    color: #333;
    font-size: 15px;
    background: none;
    border: none;
    outline: none;
    font-weight: lighter;
}

header .header-top .right ul li select option {
    color: #000;
}

header .logo {
    width: 20%;
    float: left;
}

header .logo img {
    width: auto;
    height: 38px;
}

header .header-main {
    background: #fff;
    display: flex;
    width: 100%;
    color: #333;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: relative;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);*/
}

header .header-main .header-main-content {
    display: flex;
    align-items: center;
    position: relative;
}

header .header-main .logo {
    display: none;
}

header .header-main .header-category {
    width: 200px;
    position: relative;
    display: block;
}

header .header-main .header-category:hover h3 {
    border: 1px solid #DCDEE3;
    border-bottom: 1px solid transparent;
}

header .header-main .header-category:hover .header-category-mini {
    display: block;
}

header .header-main .header-category h3 {
    position: relative;
    padding-left: 25px;
    margin-bottom: 0;
    width: 170px;
    height: 48px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    color: #333;
    background: #fff;
    transition: all 0.5s;
    z-index: 10;
}

header .header-main .header-category h3 i {
    color: #A0A2AD;
}

header .header-main .header-category h3 span {
    margin: 0 10px;
}

header .header-main .header-category h3:hover {
    color: #ff8606;
}

header .header-main .header-category h3:hover .fa-angle-down {
    transform: rotate(-180deg);
}

header .header-main .header-category h3:hover i {
    color: #ff8606;
}

header .header-main .header-category .header-category-mini {
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    background: #fff;
    z-index: 9;
    border: 1px solid #DCDEE3;
    margin-top: -1px;
    transition: all 0.5s;
    display: none;
}

header .header-main .header-category .header-category-mini ul li {
    padding: 8px 0;
    border: 1px solid transparent;
}

header .header-main .header-category .header-category-mini ul li a {
    color: #333;
    padding: 0 10px;
    font-size: 14px;
}

header .header-main .header-category .header-category-mini ul li a i {
    float: right;
    margin-right: 20px;
    font-size: 10px;
    line-height: 2.4;
    transition: all 0.5s;
}

header .header-main .header-category .header-category-mini ul li:hover {
    box-shadow: -2px 1px 5px #e7e7e7;
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    border-right: 1px solid transparent;
}

header .header-main .header-category .header-category-mini ul li:hover a {
    color: #ff8606;
}

header .header-main .header-category .header-category-mini ul li:hover a i {
    margin-right: 10px;
}

header .header-main .timkiem {
    width: 58%;
    float: left;
}

header .header-main .timkiem form {
    position: relative;
    border: 2px solid #ff8606;
}

header .header-main .timkiem form .form-control {
    height: 100%;
    padding: 10px;
}

header .header-main .timkiem form .form-control::placeholder {
    color: #adaaaa;
    opacity: 1;
    font-size: 15px;
    font-family: 'Roboto';
}

header .header-main .timkiem form button {
    position: absolute;
    top: 1%;
    right: 0%;
    height: 100%;
    width: 120px;
    background: #ff8606;
    color: #fff;
    border: none;
}

header .header-main .timkiem form button i {
    margin-right: 10px;
}

header .header-main .timkiem form button img {
    width: 20%;
    height: 100%;
    margin-right: 10px;
}

header .header-main .timkiem form .select-option {
    position: absolute;
    top: 5%;
    left: 1%;
    height: 90%;
    width: 125px;
    background: #fff;
    color: #333;
    border: none;
    font-size: 13px;
    border-right: 1px solid #f4f4f4;
}

header .header-main .timkiem form .select-option:focus {
    outline: 0;
    border: none;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

header .header-main .timkiem form .select-option div {
    padding: 8px 0;
    text-align: center;
}

header .header-main .timkiem form .select-option span {
    line-height: 2.7;
    font-weight: 400;
    font-size: 14px;
}

header .header-main .timkiem form .select-option span i {
    color: #c1c1c1;
    margin-left: 10px;
    float: right;
    text-align: center;
    line-height: 2.5;
    margin-right: 10px;
}

header .header-main .timkiem form .select-option ul {
    background: #fff;
    border: 1px solid #e7e7e7;
    position: absolute;
    top: 110%;
    left: 0;
    display: none;
}

header .header-main .timkiem form .select-option ul li {
    padding: 10px;
}

header .header-main .timkiem form .select-option ul li a {
    color: #333;
}

header .header-main .timkiem form .select-option ul li:hover {
    background-color: #e4e4e4;
}

header .header-main .timkiem form input {
    height: 100%;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 14px;
}

header .header-main .timkiem form input:focus {
    outline: 0;
    border: none;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

header .header-main .timkiem form input::placeholder {
    color: #e6e6e6;
    opacity: 1;
    font-weight: 300;
    font-size: 13px;
}

header .header-main .timkiem form input:-ms-input-placeholder {
    color: #e6e6e6;
    font-weight: 300;
    font-size: 13px;
}

header .header-main .timkiem form input::-ms-input-placeholder {
    color: #e6e6e6;
    font-weight: 300;
    font-size: 13px;
}

header .header-main .timkiem form .search-main {
    position: relative;
    margin-left: 133px;
    width: 69%;
}

header .header-main .timkiem form .search-main .search-main-mini {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 0 5px;
    border: 1px solid #e7e7e7;
    display: none;
    transition: all 0.5s;
}

header .header-main .timkiem form .search-main .search-main-mini.active {
    display: block;
}

header .header-main .timkiem form .search-main .search-main-mini ul li {
    display: block;
}

header .header-main .timkiem form .search-main .search-main-mini ul li:hover {
    background: #e4e4e4;
}

header .header-main .timkiem form .search-main .search-main-mini ul li a {
    color: #333;
    font-size: 14px;
}

header .header-main .timkiem .form-mb {
    display: none;
    position: absolute;
    width: 95%;
    left: 2%;
    top: 100%;
}

header .header-main .timkiem .btn-tk {
    display: none;
    font-size: 30px;
    margin-top: 5px;
}

header .header-main .cart {
    width: 10%;
    float: left;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    z-index: 8;
    border: 1px solid transparent;
}

header .header-main .cart:hover {
    border: 1px solid #DCDEE3;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 3px 0 #AAA;
}

header .header-main .cart:hover .mini-cart {
    display: block;
}

header .header-main .cart .icon-cart {
    height: 100%;
    width: 60px;
    background: #fff;
    height: 100%;
    z-index: 10;
}

header .header-main .cart .icon-cart i {
    font-size: 30px;
    line-height: 1.3;
}

header .header-main .cart .mycart {
    text-align: left;
    width: calc(100% - 60px);
    background: #fff;
    height: 100%;
    z-index: 10;
}

header .header-main .cart .mycart span {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ff8606;
    font-size: 12px;
    padding: 3px 3px;
    color: #fff;
    text-align: center;
}

header .header-main .cart .mycart a {
    color: #333;
    width: 100%;
    float: right;
    line-height: 1.2;
    font-size: 14px;
}

header .header-main .cart a {
    color: #333;
}

header .header-main .cart img.svg {
    width: 30%;
    margin-top: 1%;
}

header .header-main .cart .mini-cart {
    position: absolute;
    width: 400px;
    background: #fff;
    top: 100%;
    right: 00%;
    padding: 15px;
    display: none;
    z-index: 9;
    box-shadow: 1px 1px 3px 0 #AAA;
    text-align: left;
    margin-top: -2px;
    border: 1px solid #DCDEE3;
}

header .header-main .cart .mini-cart a {
    font-size: 14px;
    text-align: left;
}

header .header-main .cart .mini-cart a:hover {
    color: #ff8606;
}

header .header-main .cart .mini-cart ul li {
    width: 32%;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
}

header .header-main .cart .mini-cart ul li img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 1px solid #DCDEE3;
}

header .header-main .cart .mini-cart ul li a {
    font-size: 13px;
    margin-top: 10px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

header .header-main .cart .mini-cart .mini-cart_list {
    display: flex;
    margin-bottom: 10px;
}

header .header-main .cart .mini-cart .review-cart {
    padding: 4px 25px;
    background-color: #ff8606;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #4d7bae;
    border-radius: 0;
    border: 1px solid #ff8606;
    text-align: center;
    float: right;
}

header .header-main .cart .mini-cart .review-cart:hover {
    color: #ff8606;
    background-color: #fff;
    border: 1px solid #ff8606;
}

header .header-main .download-app {
    width: 10%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 1px solid transparent;
}

header .header-main .download-app:hover {
    border: 1px solid #DCDEE3;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 3px 0 #AAA;
}

header .header-main .download-app:hover .download-mini {
    display: block;
}

header .header-main .download-app .anh {
    width: 40px;
    height: 100%;
    background: #fff;
    z-index: 10;
}

header .header-main .download-app .anh img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .header-main .download-app .text {
    font-size: 14px;
    background: #fff;
    z-index: 10;
    height: 100%;
    padding-left: 10px;
    width: calc(100% - 40px);
}

header .header-main .download-app .download-mini {
    position: absolute;
    width: 200px;
    top: 100%;
    background: #fff;
    z-index: 9;
    right: 0;
    padding: 10px;
    margin-top: -2px;
    border: 1px solid #DCDEE3;
    box-shadow: 1px 1px 3px 0 #AAA;
    display: none;
}

header .header-main .download-app .download-mini h4 {
    font-size: 14px;
}

header .header-main .download-app .download-mini a {
    color: #333;
}

header .header-main .download-app .download-mini a:hover {
    color: #ff8606;
}

header .header-main .download-app .download-mini p {
    font-size: 14px;
    margin-bottom: 0;
}

header .header-main .download-app .download-mini img {
    height: 100px;
    object-fit: cover;
}

header .accout {
    width: 10%;
    float: left;
    display: flex;
    position: relative;
    z-index: 8;
}

header .accout:hover {
    box-shadow: 1px 1px 3px 0 #AAA;
    border: 1px solid #DCDEE3;
}

header .accout:hover .mini-accout {
    display: block;
    box-shadow: 1px 1px 3px 0 #AAA;
    border: 1px solid #DCDEE3;
}

header .accout i {
    font-size: 30px;
    margin-top: 5px;
}

header .accout .anh {
    background: #fff;
    width: 40px;
    height: 100%;
    z-index: 10;
    padding: 5px;
}

header .accout .anh img {
    width: 40px;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #DCDEE3;
}

header .accout .myaccount {
    padding-left: 10px;
    background: #fff;
    width: calc(100% - 40px);
    z-index: 10;
}

header .accout .myaccount span {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ff8606;
    font-size: 12px;
    padding: 3px 3px;
    color: #fff;
    text-align: center;
}

header .accout .myaccount a {
    color: #333;
    width: 100%;
    float: right;
    line-height: 1.2;
    font-size: 14px;
}

header .accout .myaccount a i {
    font-size: 10px;
    margin-left: 10px;
}

header .accout .myaccount a:hover {
    color: #ff8606;
}

header .accout .mini-accout {
    background: #fff;
    position: absolute;
    width: 350px;
    top: 100%;
    padding: 10px 0;
    right: 0%;
    box-shadow: 1px 1px 3px 0 #AAA;
    display: none;
    z-index: 9;
    margin-top: -2px;
    border: 1px solid #DCDEE3;
}

header .accout .mini-accout ul {
    padding: 0 10px;
}

header .accout .mini-accout ul li {
    font-size: 15px;
    color: #000;
    padding: 5px 0;
    border: 1px solid transparent;
}

header .accout .mini-accout ul li:hover {
    box-shadow: -2px 1px 5px #e7e7e7;
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    border-right: 1px solid transparent;
}

header .accout .mini-accout ul li:hover i {
    margin-right: 10px;
}

header .accout .mini-accout ul li a {
    color: blue;
    text-align: right;
    float: right;
}

header .accout .mini-accout ul li i {
    float: right;
    margin-right: 20px;
    font-size: 10px;
    line-height: 1.4;
    transition: all 0.5s;
}

header .accout .mini-accout ul li p {
    margin-bottom: 0;
    width: 70%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

header .accout .mini-accout ul li.hello-name {
    display: flex;
}

header .accout .mini-accout ul li.myt99 {
    background: #ddd;
}

header .accout .mini-accout ul a {
    color: #000;
}

header .accout .mini-accout ul a:hover li {
    color: #ff8606;
}

header.menu-fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.5s;
}

header.menu-fix .logo {
    display: block;
}

header.menu-fix .header-category {
    display: none;
}

header.menu-fix .header-top {
    display: none;
}

header .header-help {
    position: relative;
}

header .header-help:hover .header-minihelp {
    display: flex;
    transition: all 0.5s;
}

header .header-help .header-minihelp {
    position: absolute;
    width: 700px;
    border: 1px solid #dae2ed;
    padding: 15px 20px 18px 20px;
    right: -5px;
    top: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
    box-sizing: content-box;
    background: #fff;
    display: none;
    transition: all 0.5s;
    z-index: 10;
}

header .header-help .header-minihelp:after {
    content: '';
    box-sizing: content-box;
    border: 1px solid #dae2ed;
    background: #fff;
    position: absolute;
    width: 10px;
    height: 10px;
    overflow: hidden;
    top: -6px;
    right: 50px;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
}

header .header-help .header-minihelp .mini-help-item {
    width: 33%;
    margin-right: 20px;
}

header .header-help .header-minihelp .mini-help-item h4 {
    font-size: 15px;
    font-weight: 400;
}

header .header-help .header-minihelp .mini-help-item ul {
    height: auto;
}

header .header-help .header-minihelp .mini-help-item ul li {
    padding: 5px 0;
    display: block;
}

header .header-help .header-minihelp .mini-help-item ul li a {
    color: #333;
    font-size: 13px;
}

header .header-help .header-minihelp .mini-help-item ul li a:hover {
    color: #ff8606;
}

header .header-help .header-minihelp .mini-help-item ul li img {
    width: 83px;
}

header .header-help .header-minihelp .mini-help-item ul li p {
    font-size: 13px;
}

header.header-little_information {
    height: 50px;
    width: 100%;
    background: #fff;
}

header.header-little_information ul li {
    display: inline-flex;
}

header.header-little_information ul li a {
    color: #333;
    font-size: 1.1vw;
}
header.header-little_information ul li a i{
    padding: 0 !important;
    margin-left: 0 !important;
    font-size: 1.1vw !important;
}

header.header-little_information ul li a:hover {
    color: #ff8606;
}

header.header-little_information .left {
    height: 100%;
}

header.header-little_information .left ul {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

header.header-little_information .left ul li span {
    color: #333;
    padding: 0 5px;
}

header.header-little_information .left ul li .icon {
    height: 20px;
    width: 20px;
    text-align: center;
    background: #e4e4e4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.header-little_information .left ul li .icon a {
    font-size: 13px;
}

header.header-little_information .left ul li .icon i {
    /*font-size: 10px;*/
}

header.header-little_information .left ul li .fb {
    margin: 0 10px;
}

header.header-little_information .left ul li .fb i {
    color: blue;
}

header.header-little_information .left ul li .yt i {
    color: red;
}

header.header-little_information .right {
    float: right;
}

header.header-little_information .right ul {
    height: 100%;
}

header.header-little_information .right ul li {
    /*padding: 0 15px;*/
    align-items: center;
    justify-content: center;
    height: 100%;
    /*border-right: 1px solid #e4e4e4;*/
}

header.header-little_information .right ul li:last-child a {
    border: none;
}

header.header-little_information .right ul li a {
    padding: 0 15px;
    /*border-right: 2px solid #e4e4e4;*/
}

header.header-little_information .right ul li i {
    padding-right: 5px;
    font-size: 10px;
    margin-left: 5px;
}

header.header-little_information .right ul li select {
    color: #333;
    font-size: 15px;
    background: none;
    border: none;
    outline: none;
    font-weight: lighter;
}

header.header-little_information .right ul li select option {
    color: #000;
}

header.header-little_information .little_information-left {
    width: 40%;
    float: left;
    height: 100%;
    text-align: center
}

header.header-little_information .little_information-left ul {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

header.header-little_information .little_information-left ul li {
    padding: 0 10px;
    border-left: 1px solid #e6e7eb;
}

header.header-little_information .little_information-left ul li:first-child {
    border: none;
}

header.header-little_information .little_information-left ul li a {
    font-weight: 300;
    font-size: 20px;
}

header.header-little_information .little_information-left .logo-little_information img {
    height: 35px;
    object-fit: cover;
}

header.header-little_information .little_information-right {
    width: 60%;
    float: right;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 100%;
}

header.header-little_information .little_information-right .naw_clb_scol{
    width: 75%;
}

header.header-little_information .little_information-right .login_register{
    width: 26%;
    border-left: 0.54px solid #666666;
    text-align: center;
}
header.header-little_information .little_information-right .login_register a{
    font-size: 11px;
    padding: 3px;
    width: 40%;
    color: #fff;
}
header.header-little_information .little_information-right .login_register .login_register_a1{
    background: #FF771C;
}

header.header-little_information .little_information-right .login_register .login_register_a2{
    background: #115A80;
}
header.header-little_information .little_information-right .naw_clb_scol .naw_clb_scol_li{
    width: 24%;
    border-left: 0.6px solid #666666;
}

header.header-little_information .little_information-right .naw_clb_scol .naw_clb_scol_li_a{
    width: 18%;
    border-left: 0.6px solid #666666;
}

header.header-little_information .little_information-right .accout {
    width: 130px;
    float: right;
    align-items: center;
}

header.header-little_information .little_information-right .accout img {
    width: 30px;
    height: 30px;
    border: 1px solid #dee5ef;
    border-radius: 50%;
}

header.header-little_information .little_information-right .accout ul li {
    display: block;
}

header.header-little_information .little_information-right .accout ul li a {
    float: none;
    color: #000;
}

header.header-little_information .little_information-right .accout ul li a i {
    font-size: 10px;
    margin-left: 10px;
}

header.header-little_information .little_information-right .accout ul li a.sign-out {
    float: right;
    margin-left: 25px;
}

header.header-little_information .little_information-right .accout:hover .mini-accout {
    display: flex;
}

header.header-little_information .little_information-right .accout .mini-accout {
    display: none;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
    border: 1px solid #dae2ed;
}

header.header-little_information .little_information-right .accout .mini-accout:after {
    content: '';
    box-sizing: content-box;
    border: 1px solid #dae2ed;
    background: #fff;
    position: absolute;
    width: 10px;
    height: 10px;
    overflow: hidden;
    top: -6px;
    right: 40px;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
}

header.header-little_information .little_information-right .accout .mini-accout .avatar {
    height: 50px;
    width: 50px;
    border: 1px solid #dee5ef;
    border-radius: 50%;
}

header.header-little_information .little_information-right .accout .mini-accout .avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header.header-little_information .little_information-right .accout .mini-accout .info-avatar ul {
    padding: 0;
}

header.header-little_information .my_t99 a {
    font-size: 18px;
}

main .login-page {
    display: flex;
    width: 100%;
    background: #fff;
    justify-content: center;
    /*align-items: center;*/
    height: calc(100vh - 65px);
}

main .login-page .form-login {
    width: 40%;
    padding: 3% 90px;
    margin: auto;
    
}

main .login-page .form-login h4 {
    font-size: 35px;
    color: #4d7bae;
    text-align: center;
    /* margin-bottom: 40px; */
}

main .login-page .form-login h4 a {
    color: #4d7bae;
}

main .login-page .form-login p {
    font-size: 17px;
    color: #999999;
    width: 75%;
    margin-bottom: 40px;
}
main .login-page .form-login .login_face_or_google{
  margin-bottom: 15px;
}

main .login-page .form-login .login_face_or_google legend{
  font-size: 1.25rem;
  margin:1rem 0
}

main .login-page .form-login .login_facebook{
  padding: 4px 25px;
  background-color: #ff8606;
  color: #3B5998;
  border: 1px solid #4d7bae;
  background: #fff;
  border-radius: 100px;
  width: 100%;
  padding: 10px 25px;
  margin: 10px 0;
  font-weight: 500;
}
main .login-page .form-login .login_facebook:hover{
  color: #ff8606;
  background-color: #fff;
  border: 1px solid #ff8606;

}

main .login-page .form-login form .taikhoan {
    /* border: 1px solid #c1c1c1; */
    /* padding: 10px; */
    margin-bottom: 25px;
    /* border-radius: 5px; */
}

main .login-page .form-login form .taikhoan label {
    font-size: 15px;
    color: #cccccc;
    width: 100%;
}

main .login-page .form-login form .taikhoan input {
    /* border: none; */
    width: 100%;
    padding: 10px 5px;
    /* border-radius: 5px ; */
}

main .login-page .form-login form .nho {
    width: 100%;
    font-size: 13px;
    margin-bottom: 50px;
    color: #666666;
}

main .login-page .form-login form .nho a {
    color: #4d7bae;
    float: right;
}

main .login-page .form-login form button {
    padding: 4px 25px;
    background-color: #ff8606;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #4d7bae;
    background: #4d7bae;
    border-radius: 5px;
    width: 190px;
    margin-right: 20px;
    padding: 10px 25px;
}

main .login-page .form-login form button:hover {
    color: #ff8606;
    background-color: #fff;
    border: 1px solid #ff8606;
}

main .login-page .form-login form .baomat {
    margin-top: 15%;
}

main .login-page .form-login form .baomat p {
    color: #808080;
    font-size: 13px;
    margin-bottom: 0;
}

main .login-page .form-login form .baomat a {
    color: #333;
    font-size: 13px;
}

main .login-page .anh {
    width: 60%;
    position: relative;
    /*height: 100vh; */
}

main .login-page .anh:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
}

main .login-page .anh img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}





.register-modal .modal-header {
    background: #4d7bae;
}

.register-modal .modal-header h5 {
    font-size: 18px;
    font-weight: 400;
}

.register-modal-upload label {
    width: 170px;
    height: 30px;
    background: #333;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.register-modal-upload img {
    max-width: 100px;
    height: auto;
    max-height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 16px;
}

.register-modal-upload input {
    display: none;
}

.register-modal .nav-pills {
    border-radius: 50px;
    border: 1px solid #b3b3b3;
    width: 80%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.register-modal .nav-pills li {
    width: 50%;
}

.register-modal .nav-link {
    width: 100%px;
    text-align: center;
    color: #b3b3b3;
    border-radius: 50px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

@media (max-width: 576px) {
    .register-modal .nav-link {
        width: 170px;
        font-size: 13px;
    }
}

.register-modal .nav-link.active {
    background-color: #4d7bae;
    color: #fff;
}

.register-modal .modal-footer.justify-content-center.border-0.pb-4.pb-md-5.pt-0 {
    margin: 30px 0 0;
}

.register-modal .modal-body {
    padding: 40px;
    height: 700px;
    overflow-y: scroll;
}

@media (max-width: 1440px) {
    .register-modal .modal-body {
        height: 550px;
    }
}

@media (max-width: 1366px) {
    .register-modal .modal-body {
        height: 650px;
    }
}

@media (max-width: 767px) {
    .register-modal .modal-body {
        height: 500px;
        padding: 24px;
    }
}

@media (min-width: 1360px) {
    .register-modal .modal-dialog {
        max-width: 800px;
    }
}


@media (max-width: 1024px) {
    .register-modal .modal-dialog {
        height: 550px;
        max-width: 700px !important;
    }
}

@media (max-width: 767px) {
    .register-modal .modal-dialog {
        margin-top: 50px;
    }
}

.register-modal .dropdown-toggle {
    color: #4d7bae;
    font-size: 13px;
}

.register-modal .dropdown-toggle::after {
    display: none;
}

.register-modal .dropdown:hover>.dropdown-menu {
    display: block;
    font-size: 13px;
}

.register-modal .form-control {
    font-size: 13px;
}

.register-modal-heading {
    font-size: 15px;
    color: #4d7bae;
    margin-top: 30px;
}

.register-modal-text {
    font-size: 0.58vw;
}

.register-modal-text-large {
    font-size: 16px;
    color: #4d7bae;
}

.register-modal-text-small {
    font-size: 0.5vw;
}

.register-modal-text-small a {
    color: #4d7bae;
}
.tab_title_content{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.register-modal-code {
    background: #4d7bae;
    min-width: 130px;
    height: 38px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    margin-left: 16px;
}

.register-modal .form-group label {
    font-size: 14px;
}

.register-modal .form-check label {
    font-size: 12px;
}

.register-modal .form-check a {
    color: #4d7bae;
    text-decoration: underline;
}

.register-modal .btn {
    background-color: #4d7bae;
    color: #fff;
    width: 230px;
    height: 34px;
    line-height: 20px;
    font-size: 16px;
    vertical-align: middle;
    border-radius: 50px;
}

.message-cart {
    position: absolute;
    right: 0px;
    top: 300px;
    background: red;
    border: 2px solid red;
    border-radius: 5px;
    /* display: block !important; */
    height: 40px;
    line-height: 40px;
    color: #fff;
}


@media (min-width: 1360px) .owl-carousel.owl-drag .owl-item {
    height: 300px !important;
}

@media (max-width: 1500px) and (min-width: 1200px) {
    main .content-tinnhan {
        max-width: 100%;
        padding: 0;
        padding-right: 15px;
    }
}