.single-chart {
    width: 49%;
   
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #F9B9B9;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
    animation: progress 3s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: rgb(240, 80, 80);
  }
  
  .circular-chart.green .circle {
    stroke: #ffffff;
  }
  
  .circular-chart.blue .circle {
    stroke: #ffffff;
  }
  
  .percentage {
    fill: rgb(240, 80, 80);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
  .text-chart{
	  text-align: right;
    margin-top: -86px;}

